var firebaseConfig = {
    apiKey: "AIzaSyAUcc1h1g6Q9t6ic2vGbb6MO202TkKklFE",
    authDomain: "adv-c94-kwitter-webapp.firebaseapp.com",
    projectId: "adv-c94-kwitter-webapp",
    storageBucket: "adv-c94-kwitter-webapp.appspot.com",
    messagingSenderId: "337966689603",
    appId: "1:337966689603:web:3af8c725d6220c605f93f6"
  };